---
layout: 2023/list
section: proposals
permalink: 2023/mesas/
title: Mesas comunidades esLibre 2023
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Mesas comunidades es<span class="red">Libre</span> 2023</strong></h1>
  </div>
</div>
<hr class="my-4">


<ul id="list" style="padding-bottom: 12.5em;">
  {% for tables in site.pages %}
  {% if tables.path contains '2023/mesas' and tables.path contains '.md' and tables.category == 'tables' %}
  <li><a href="/{{ tables.path | remove_first: ".md" }}">{{ tables.author }}</a>
    {% endif %}
    {% endfor %}
</ul>
