---
layout: 2023/list
section: proposals
permalink: 2023/salas/
title: Salas esLibre 2023
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Salas/Devrooms es<span class="red">Libre</span> 2023</strong></h1>
  </div>
</div>
<hr class="my-4">


<ul id="list" style="padding-bottom: 8em;">
  {% for devroom in site.pages %}
  {% if devroom.path contains '2023/salas' and devroom.path contains '.md' and devroom.category == 'devrooms' %}
  <li><a href="/{{ devroom.path | remove_first: ".md" }}">{{ devroom.author }} - {{ devroom.title }}</a>
    {% endif %}
    {% endfor %}
</ul>
